/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */

//overrides of the default variables for the paths for fontawesome font files, bootstrap glyphicon font files, and other bootstrap variables
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts";

//my custom styles
#splash-page {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:rgba(255, 255, 255, 0.9);
  z-index: 1000;
  .page-splash-message {
    position: absolute;
    width: 360px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-left: -180px; /* margin is -0.5 * dimension */
    margin-top: -25px; color:black;font-size: 25px;
    .progress {
      height:40px;
    }
  }
}
//end of my custom styles

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
