<div class="container">
    <div class="jumbotron text-center">
        <h1>No such address exists.</h1>
        <p class="lead">
            <img src="img/yeoman.png" alt="I'm Yeoman"><br>
            Can't process this request, please enter the correct address.
        </p>
    </div>
</div>