<!doctype html>
<html ng-app="<%- answers.appName %>">
  <head>
    <base href="/"/>
    <meta charset="utf-8">
    <title ng-bind="title"><%- answers.appName %></title><!--default value and the value updated from route helper provider, being partly configured with appTitle on core module config. -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/lib.css  -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

      <!-- build:css styles/app.css  -->
      <!-- inject:css -->
      <!-- endinject -->
      <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser.
        Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <div ng-include="'app/layout/shell.html'"></div>
    <div id="splash-page" ng-show="showSplash">
      <div class="page-splash-message">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
               aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
