<div class="jumbotron text-center">
    <h1>'Allo, 'Allo!</h1>

    <p class="lead">
        <img src="img/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
</div>